.login{
    display: flex;
    flex-direction: column;
    
    /* margin-top: 32px; */
    height: 100vh; 
    background-color: gray;
    /* width: 40%; */
    /* height: 63%; */
    align-items: center;
    justify-content: center;
}

user-name label{
    font-size: 43px ;
    color: green ;  
    
}
.userInput{
    border-radius: 5px;
}
.password {
    /* font-size: 23px; */
} 