.navbar{
    display: flex;
    list-style-type: none;
    margin-top: 32px;
    gap: 163px;
    /* margin-right: 32px; */
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    text-decoration: none;
    background-color: aqua;
    margin-bottom: 52px;
    box-shadow: 2px 2px 2px 2px rgba(149, 19, 19, 0.9);
}
.navbar a{
    color: black;
    font-size: 23px;
    font-weight: 600;
}